.timeline {
	 list-style-type: none;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
 .li {
	 transition: all 200ms ease-in;
}
 .timestamp {
	 margin-bottom: 20px;
	 padding: 0px 40px;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 font-weight: 100;
}
 .status {
	 padding: 0px 40px;
	 display: flex;
	 justify-content: center;
	 border-top: 3px solid #b3afab;
	 position: relative;
	 transition: all 200ms ease-in;
}
 .status h4 {
	 font-weight: 600;
	 border-bottom: 3px solid white;
}
 .status:before {
	 content: '';
	 width: 20px;
	 height: 20px;
	 background-color: white;
	 border-radius: 55px;
	 border: 3px solid #b3afab;
	 position: absolute;
	 top: -12px;
	 left: 50%;
	 transition: all 200ms ease-in;
}
 .li.undone .status {
	 border-top: 3px solid #c6c8c6;
}
 .li.undone .status:before {
	 background-color: white;
	 border: 3px solid #b3afab;
	 transition: all 200ms ease-in;
}
 .li.undone .status h4 {
	 color: #b3afab;
	 border-bottom: 3px solid white;
}
 .li.undoneDisabled .status {
	 border-top: 3px solid #c6c8c6;
}
 .li.undoneDisabled .status:before {
	 background-color: white;
	 border: 3px solid #b3afab 80;
	 transition: all 200ms ease-in;
}
 .li.undoneDisabled .status h4 {
	 color: #b3afab 80;
	 border-bottom: 3px solid white;
}
 .li.completed .status {
	 border-top: 3px solid #c6c8c6;
}
 .li.completed .status:before {
	 background-color: #07910a;
	 border: 3px solid #07910a;
	 transition: all 200ms ease-in;
}
 .li.completed .status h4 {
	 color: #07910a;
	 border-bottom: 3px solid white;
}
 .li.completedDisabled .status {
	 border-top: 3px solid #c6c8c6;
}
 .li.completedDisabled .status:before {
	 background-color: #abdbac;
	 border: 3px solid #abdbac;
	 transition: all 200ms ease-in;
}
 .li.completedDisabled .status h4 {
	 color: #abdbac;
	 border-bottom: 3px solid white;
}
 .li.skipped .status {
	 border-top: 3px dashed #c6c8c6;
}
 .li.skipped .status:before {
	 background-color: white;
	 border: 3px dashed #ecf4f8;
	 transition: all 200ms ease-in;
}
 .li.skipped .status h4 {
	 color: #ecf4f8;
	 border-bottom: 3px dashed white;
}
 .li.skippedDisabled .status {
	 border-top: 3px dashed #c6c8c6;
}
 .li.skippedDisabled .status:before {
	 background-color: white;
	 border: 3px dashed #ecf4f8 80;
	 transition: all 200ms ease-in;
}
 .li.skippedDisabled .status h4 {
	 color: #ecf4f8 80;
	 border-bottom: 3px dashed white;
}
 .li.mandatory .status {
	 border-top: 3px solid #c6c8c6;
}
 .li.mandatory .status:before {
	 background-color: white;
	 border: 3px solid #d30505;
	 transition: all 200ms ease-in;
}
 .li.mandatory .status h4 {
	 color: #d30505;
	 border-bottom: 3px solid white;
}
 .li.mandatoryDisabled .status {
	 border-top: 3px solid #c6c8c6;
}
 .li.mandatoryDisabled .status:before {
	 background-color: white;
	 border: 3px solid #d30505 80;
	 transition: all 200ms ease-in;
}
 .li.mandatoryDisabled .status h4 {
	 color: #d30505 80;
	 border-bottom: 3px solid white;
}
 .li.undone.active .status h4 {
	 border-bottom: 3px solid currentColor;
}
 .li.completed.active .status h4 {
	 border-bottom: 3px solid currentColor;
}
 .li.skipped.active .status h4 {
	 border-bottom: 3px dashed currentColor;
}
 .li.mandatory.active .status h4 {
	 border-bottom: 3px solid currentColor;
}
 .li.undoneDisabled.active .status h4 {
	 border-bottom: 3px solid currentColor;
}
 .li.completedDisabled.active .status h4 {
	 border-bottom: 3px solid currentColor;
}
 .li.skippedDisabled.active .status h4 {
	 border-bottom: 3px dashed currentColor;
}
 .li.mandatoryDisabled.active .status h4 {
	 border-bottom: 3px solid currentColor;
}
 